.weather-info {
  width: 307px;
  font-family: Sofia Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #000000;
}

.rainblack {
  width: 43px;
  height: 43px;
}

.label {
  margin-top: 21px;
  font-family: sofia-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}
