.custom-btn{
   background: #58DBF8;
   border-radius: 50px;
   width:180px;
   height:48px;
   border:none;
   color:black;
   font-family: 'Poppins', sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
}