.title{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: -0.02em;
    color: #000000;
    margin-top: 28px;
}

.level{
    width: 296px;
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
    border: 2px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 10px;
    display:flex;
    flex-direction:row;
    justify-content:center;   
}

.weather-rainy{
    width:30px;
    height:30px;
    color:#58DBF8;    
}

.time{

}

.location{
    
}
