body {
  font-family: sofia-pro, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black !important;
}

#root {
  background-color: white;
  width: 414px;
  height: 860px;
  border-radius: 20px;

  border: 0;
  box-sizing: border-box;
}
